# Python 3.7
# usage: pip install -r requirements.txt 

Django==2.2
django-bootstrap4==0.0.8
django-braces==1.13.0
django-debug-toolbar==1.11
Pillow==9.3.0
python-decouple==3.1
django-private-chat==0.2.2
mysqlclient==1.4.2
django-flatpickr==1.0.1

