{% extends "base.html" %}

{% block body_block %}

<div class="container text-center">
        <div class="page-title">
            <h3>Dezaktywować użytkownika?</h3>
        </div>

        <ul style="padding-left: 0">
                <li><b>Imię i nazwisko: </b>{{user_profile.user.get_full_name}}</li>
                <li><b>Email: </b> {{user_profile.user.email}}</li>
                <li><b>Telefon: </b>{{user_profile.phone}}</li>
                <li><b>PESEL: </b>{{user_profile.pesel}} </li>
                <li><b>Adres: </b>{{user_profile.street}}, {{user_profile.house_number}}, {{user_profile.post_code}} {{user_profile.city}} </li>
        </ul>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger button" value="Dezaktywuj">
        </form>

        <div class="borrow_list_back_link button">
            <a href="{% url 'accounts:users_list' %}"><input type="button" class="btn btn-dark" value="Powrót"></a>
        </div>
    </div>
</div>
{% endblock %}