{% extends "base.html" %}
{% load static %}

{% block body_block %}


<div class="container text-center">
    <div class="jumbotron">
        <div class="page-title">
            <h3>Twój profil</h3>
        </div>

        <div class="text-center profile-view-image">
            {% if user.user_profile.image %}
                <img src="{{user.user_profile.image.url}}" alt="avatar_img_error" height="300%" width="150">
            {% endif %}
        </div>

        <ul>
            <li><b>Imię i nazwisko: </b>{{user_profile.user.get_full_name}}</li>
            <li><b>Email: </b>{{user_profile.user.email}}</a></li>
            <li><b>Telefon: </b>{{user_profile.phone}}</li>
            <li><b>PESEL: </b>{{user_profile.pesel}} </li>
            <li><b>Adres: </b>{{user_profile.street}} {{user_profile.house_number}} {{user_profile.post_code}} {{user_profile.city}} </li>
            <br>

            {% if user_profile.user_manager%}
                <li><b>Kierownik: </b>{{user_profile.user_manager}} </li>
            {% endif %}

            <li><b>Przypisana zmiana: </b>{{user_profile.user_work_hours}} </li>
            <li><b>Twój status: </b>{{user_profile.user_state}} </li>
            <br>

            <li><b>Ostatnie logowanie dnia: </b> {{user_profile.user.last_login}} </li>
        </ul>

    </div>
</div>
{% endblock %}