{% extends "base.html" %}
{% load bootstrap4 %}

{% block body_block %}
<div class="container signup-form">
    <h1>Zarejestruj się</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form user_form %}

        <h3 class="page-title">Informacje dodatkowe</h3>
        {% bootstrap_form profile_form %}
        
        <p>Rejestrując się oświadczasz, że zapoznałaś/eś się oraz akceptujesz <a style="color: #0645AD" href="{% url 'regulations' %}">Regulamin</a></p>
        <input type="submit" class="btn btn-primary sign-up-btn" value="Zarejestruj się">
    </form>
</div>

{% endblock body_block %}