{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <div class="page-title">
            <h2>Szczegóły projektu </h2>
        </div>
        <div class="detail-view-content">
            <ul>
                <li><b>Nazwa: </b> {{user_project.name}} </li>
                <li><b>Klient: </b> {{user_project.client}} </li>
                <li><b>Kontakt: </b> {{user_project.contact}} </li>
                <li><b>Numer: </b> {{user_project.number}} </li>
                <li><b>Numer2: </b> {{user_project.number_2}} </li>
                <li><b>Status: </b> {{user_project.status}} </li>
                <li><b>PM: </b> {{user_project.id_project_pm.get_full_name}} </li>
                <li>
                    <b>Pracownicy: </b>
                    {% for employee in user_project.id_employee.all %}
                        {{employee.get_full_name}}
                    {% endfor %}
                </li>

                <li><b>Uwagi: </b><br> {{user_project.commants|safe|linebreaksbr}} </li>
            </ul>               
        </div>
        <a class="detail-view-btn btn btn-dark" href="javascript:history.back()">Powrót</a>

    </div>    
</div>
{% endblock %}