{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load ems_extras %}

{% block body_block %}

<div class="container">
    <div class="page-title">
        <h2>Delegacje</h2>
    </div>

    {% if user.is_superuser %}
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'entrance_exit_app:entrance_exit_create' %}">Dodaj delegacje</a>
        </div>
    {% endif %}


    <div class="search-bar">
    <form class="form-inline" action="{% url 'entrance_exit_app:entrance_exit_list' %}" method="GET">
        <div class="input-group">
            <input type="search" class="form-control" name="search_query" placeholder="Wyszukaj">
            <select class="search-select" name="search_type">
                <option value="project_name" selected>Nazwa projektu</option>
                <option value="approver_user" selected>Osoba zatwierdzająca</option>
                <option value="user">Osoba</option>
                <option value="PM">PM</option>
            </select>
            <div class="input-group-append search-button">
                <button class="btn btn-primary" type="submit">Szukaj</button>
            </div>
        </div>
    </form>
    </div>

      <table class="table table-bordered table-hover style='width:100%'">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Opcje</th>
                    <th scope="col">Lp.</th>
                    <th scope="col">Osoba</th>
                    <th scope="col">Powód</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col">Osoba zatwierdzająca</th>
                    <th scope="col">Projekt</th>
                    <th scope="col">Zasoby</th>
                    <th scope="col">Czy zatwierdzone</th>
                    <th scope="col">Data rozpoczęcia</th>
                    <th scope="col">Data zakończenia</th>
                </tr>
            </thead>
            <tbody>
                {% for entrance_exit in entrance_exit_list %}
                <tr>
                    <td>
                        <a href="{% url 'entrance_exit_app:entrance_exit_detail' pk=entrance_exit.pk %}"><img src="{% static 'website_icons/info_ico.png' %}" alt="Szczegóły" width="20" height="20"></a>
                        {% if user.is_superuser %}
                            <a href="{% url 'entrance_exit_app:entrance_exit_delete' pk=entrance_exit.pk %}"><img src="{% static 'website_icons/del_ico.png' %}" alt="Usuń" width="20" height="20"></a>
                            <a href="{% url 'entrance_exit_app:entrance_exit_update' pk=entrance_exit.pk %}"><img src="{% static 'website_icons/edit_ico.png' %}" alt="Edytuj" width="20" height="20"></a>
                        {% endif %}
                    </td>
                    
                    <td>{{ forloop.counter }}</td>
                    <td>{{entrance_exit.user.get_full_name|check_empty}}</td>
                    <td>{{entrance_exit.reason|check_empty}}</td>
                    <td>{{entrance_exit.place|check_empty}}</td>
                    <td>{{entrance_exit.approver_user|check_empty}}</td>
                    <td>{{entrance_exit.project.name|check_empty}}</td>
                    
                    <td>
                        {% if entrance_exit.resource.name %}
                            {{entrance_exit.resource.name|check_empty}}
                        {% else %}
                            -
                        {% endif %}
                    </td>

                    <td>{% if entrance_exit.is_approved %} Tak {% else %} Nie {% endif %}</td>
                    <td>{{entrance_exit.start_date|check_empty}}</td>
                    <td>{{entrance_exit.end_date|check_empty}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- pagination bar -->
    <div class="pagination_bar">
        {% if is_paginated %}
        <div class="btn-group pagination_bar" role="group">
            
            {% if page_obj.has_previous %}
                <a class="btn btn-light disable" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a class="btn btn-light"><span>&laquo;</span></a>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <a  class="btn btn-dark active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                {% else %}
                <a class="btn btn-light" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
                
            {% if page_obj.has_next %}
            <a class="btn btn-light" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
            <a type="button" class="btn btn-light"><span>&raquo;</span></a>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="table-legend">
        <p><b>Legenda:</b></p>
        <p><img src="{% static 'website_icons/info_ico.png' %}" alt="Szczegóły" width="20" height="20">Szczegóły delegacji</p>
        {% if user.is_superuser %}
            <p><img src="{% static 'website_icons/del_ico.png' %}" alt="Szczegóły" width="20" height="20">Usuń delegacji</p>
            <p><img src="{% static 'website_icons/edit_ico.png' %}" alt="Szczegóły" width="20" height="20">Edytuj delegacji</p>
        {% endif %}
    </div>

</div>

{% endblock body_block %}