{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load ems_extras %}

{% block body_block %}

<div class="container">
    <div class="page-title">
        <h2>Urlopy</h2>
    </div>
    
    {% if user.is_superuser %}
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'holiday_app:holiday_create' %}">Dodaj urlop</a>
        </div>
    {% endif %}

    <div class="search-bar">
    <form class="form-inline" action="" method="GET">
        <div class="input-group">
            <input type="search" class="form-control" name="search_query" placeholder="Wyszukaj" required>
            <select class="search-select" name="search_type">
                <option value="year" selected>Rok</option>
            </select>
            <div class="input-group-append search-button">
                <button class="btn btn-primary" type="submit">Szukaj</button>
            </div>
        </div>
    </form>
    </div>

      <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Opcje</th>
                    <th scope="col">Lp.</th>
                    <th scope="col">Pracownik</th>
                    <th scope="col">Data rozpoczęcia</th>
                    <th scope="col">Data zakończenia</th>
                    <th scope="col">Czy zatwierdzony</th>
                    <th scope="col">Osoba zatwierdzająca</th>
                </tr>
            </thead>
            <tbody>
                {% for holiday in holiday_list %}
                <tr>
                    <td>
                            <a href="{% url 'holiday_app:holiday_detail' pk=holiday.pk %}"><img src="{% static 'website_icons/info_ico.png' %}" alt="Szczegóły" width="20" height="20"></a>
                        {% if user.is_superuser %}
                            <a href="{% url 'holiday_app:holiday_delete' pk=holiday.pk %}"><img src="{% static 'website_icons/del_ico.png' %}" alt="Usuń" width="20" height="20"></a>
                            <a href="{% url 'holiday_app:holiday_update' pk=holiday.pk %}"><img src="{% static 'website_icons/edit_ico.png' %}" alt="Edytuj" width="20" height="20"></a>
                        {% endif %}
                    </td>
                    
                    <td>{{ forloop.counter }}</td>
                    <td>{{holiday.user.get_full_name}}</td>
                    <td>{{holiday.start_date|check_empty}}</td>
                    <td>{{holiday.end_date|check_empty}}</td>
                    <td>{% if holiday.is_approved %} Tak {% else %} Nie {% endif %}</td>
                    <td>{{holiday.approver_user.get_full_name}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- pagination bar -->
    <div class="pagination_bar">
        {% if is_paginated %}
        <div class="btn-group pagination_bar" role="group">
            
            {% if page_obj.has_previous %}
                <a class="btn btn-light disable" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a class="btn btn-light"><span>&laquo;</span></a>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <a  class="btn btn-dark active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                {% else %}
                <a class="btn btn-light" href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
                
            {% if page_obj.has_next %}
            <a class="btn btn-light" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% else %}
            <a type="button" class="btn btn-light"><span>&raquo;</span></a>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="table-legend">
        <p><b>Legenda:</b></p>
        <p><img src="{% static 'website_icons/info_ico.png' %}" alt="Szczegóły" width="20" height="20">Szczegóły urlopu</p>
        {% if user.is_superuser %}
            <p><img src="{% static 'website_icons/del_ico.png' %}" alt="Usuń" width="20" height="20">Usuń urlop</p>
            <p><img src="{% static 'website_icons/edit_ico.png' %}" alt="Edytuj" width="20" height="20">Edytuj urlop</p>
        {% endif %}
    </div>

</div>

{% endblock body_block %}